<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>QAS Demo</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="98ae61">  <td>18/02/13 15:57:06</td>   <td>0</td> <td title="&gt;&gt;AbstractTestCase.setupSuit(org.testng.ITestContext)[pri:0, instance:com.flightbook.tests.FlightRoundTripTestXML@6ab7a896]">&gt;&gt;setupSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1769190683</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>18/02/13 15:57:06</td>   <td>41</td> <td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setupTest(org.testng.ITestContext)[pri:0, instance:com.flightbook.tests.FlightRoundTripTestXML@6ab7a896]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1769190683</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>18/02/13 15:57:06</td>   <td>48</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.flightbook.tests.FlightRoundTripTestXML@6ab7a896]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1769190683</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>18/02/13 15:57:06</td>   <td>95</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.flightbook.tests.FlightRoundTripTestXML@6ab7a896]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1769190683</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>18/02/13 15:57:06</td>   <td>98</td> <td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterTest(org.testng.ITestContext)[pri:0, instance:com.flightbook.tests.FlightRoundTripTestXML@6ab7a896]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1769190683</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>18/02/13 15:57:06</td>   <td>125</td> <td title="&lt;&lt;AbstractTestCase.afterSuit(org.testng.ITestContext)[pri:0, instance:com.flightbook.tests.FlightRoundTripTestXML@6ab7a896]">&lt;&lt;afterSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1769190683</td>   <td></td> </tr>
</table>
