<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bdf5e5">  <td>18/02/14 19:39:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.flightbook.tests.FlightRoundTripTest@71c8becc]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1233990028</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>18/02/14 19:39:38</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.flightbook.tests.FlightRoundTripTest@71c8becc]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1233990028</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>18/02/14 19:39:38</td>   <td>150</td> <td title="&lt;&lt;AbstractTestCase.afterSuit(org.testng.ITestContext)[pri:0, instance:com.flightbook.tests.FlightRoundTripTest@71c8becc]">&lt;&lt;afterSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1233990028</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>18/02/14 19:39:38</td>   <td>1</td> <td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterTest(org.testng.ITestContext)[pri:0, instance:com.flightbook.tests.FlightRoundTripTest@71c8becc]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1233990028</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>18/02/14 19:38:46</td>   <td>-51951</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.flightbook.tests.FlightRoundTripTest@71c8becc]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1233990028</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>18/02/14 19:38:46</td>   <td>-51934</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.flightbook.tests.FlightRoundTripTest@71c8becc]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@1233990028</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>18/02/14 19:38:46</td>   <td>-51984</td> <td title="&gt;&gt;AbstractTestCase.setupSuit(org.testng.ITestContext)[pri:0, instance:com.flightbook.tests.FlightRoundTripTest@71c8becc]">&gt;&gt;setupSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1233990028</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>18/02/14 19:38:46</td>   <td>-51956</td> <td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setupTest(org.testng.ITestContext)[pri:0, instance:com.flightbook.tests.FlightRoundTripTest@71c8becc]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1233990028</td>   <td></td> </tr>
<tr bgcolor="bbe1b6">  <td>18/02/14 19:38:46</td>   <td>-51931</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FlightRoundTripTest.testRoundTrip(java.util.Map)[pri:0, instance:com.flightbook.tests.FlightRoundTripTest@71c8becc]">testRoundTrip</td> 
  <td>main@1233990028</td>   <td></td> </tr>
</table>
